.popup__container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 46%;
  left: 50%;
  width: 620px;
  height: 230px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  z-index: 101;
  opacity: 1;
}
