.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  max-width: 730px;
  align-self: center;
  margin-left: 64px;
  color: #000;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  z-index: 1;
  padding: 0;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
  padding: 0;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  color: #000;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  width: 175px;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 0;
}

.two-columns_span-accent {
  font-weight: 700;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.table {
  width: 1100px;
  margin: 60px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0;
}

.table__text:last-child {
  padding-bottom: 0;
}

.feynman {
  position: relative;
  margin-top: 100px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  margin-bottom: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  padding-top: 100px;
}

.feynman__subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 51px;
  font-size: 36px;
  padding: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 867px 637px;
}

.kaufman {
  padding-top: 90px;
  overflow: hidden;
  color: white;
  background-color: #1f1f1f;
  position: relative;
  z-index: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  object-fit: contain;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.footer__columns {
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.footer__column-links {
  margin-bottom: 16px;
  padding-left: 0;
  text-align: left;
  list-style-type: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  text-align: left;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
}

.footer__column_content-info {
  display: flex;
  flex-direction: column;
}
